<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Marco&apos;s search"
            id="MarcoSearchCategoryId">
      </category>
      <view
            allowMultiple="false"
            category="MarcoSearchCategoryId"
            class="com.marco.search.plugin.views.MarcoSearchView"
            icon="icons/sample.gif"
            id="marcosearch.views.MarcoSearchView"
            name="Marco&apos;s search">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="marcosearch.views.MarcoSearchView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="MarcoSearchCategoryId"
            description="Find with Marco&apos;s search"
            id="MarcoSearch.command.search"
            name="Find with Marco&apos;s Search">
      </command>
      <command
            categoryId="MarcoSearchCategoryId"
            description="Replace with Marco&apos;s search"
            id="MarcoSearch.command.replace"
            name="Replace with Marco&apos;s search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.marco.search.plugin.handlers.FindCommandHandler"
            commandId="MarcoSearch.command.search">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            commandId="MarcoSearch.command.replace">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="MarcoSearch.command.search"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="MarcoSearch.command.replace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>

</plugin>
